/* The point of this tutorial is here */
.form {
  display: flex;
  flex-direction: row;
}
.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.jumbotron{
  margin-bottom: 0;

}

body{
  background-image:  linear-gradient(135deg, #ffbcbc 25%, transparent 25%), linear-gradient(225deg, #ffbcbc 25%, transparent 25%), linear-gradient(45deg, #ffbcbc 25%, transparent 25%), linear-gradient(315deg, #ffbcbc 25%, #f7e7e6 25%);
  background-position:  40px 0, 40px 0, 0 0, 0 0;
  background-size: 40px 40px;
  background-repeat: repeat;
}


.jumbotron{
  background-color: rgba(0,0,0,0);
}
.card-footer{
  margin-top: auto;
}

.card-padding{
  padding-top: 2em;
}

.nav-item{
  text-align: right;
}

.row{
  padding-top: 1em;
}

.coordinates{
  visibility: hidden;
  display: none;
}

#map {
  height: 100%;
  min-height: 400px;
}

.card-deck{
  
}

.container-full{
  padding-left: 0;
  padding-right: 0;

}